* {
    overflow: visible !important;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-decoration-break: clone;
}

@media print {
  @page {
      margin: 0;
  }
  body {
      margin: 1.6cm;
  }

}

html, body {
    background: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
	hyphens: auto;
}

body {
    /* padding: 2vh 15vw; */
    padding-left: 5vw; /* CHROME RENDER */
    padding-right: 5vw;
    text-align: justify;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #EEE;
}

code, pre code  {
    padding: 12px;
    display: inline-block;
    background-color: #272822;
    color: #fff;
    font: 10px Consolas, "Liberation Mono", Menlo, "Courier New", Courier, monospace;
    hyphens: manual;
}

code {
    /* padding: .2em .4em; */
    padding: .1em .2em;
}

pre {
    padding: .2em;
    display: block;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .08);
    word-wrap: normal;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* replace light background for some hljs themes */
code.github-css,
code.github-gist-css,
code.tomorrow-css,
code.default-css,
code.googlecode-css,
code.ascetic-css,
code.color-brewer-css,
code.grayscale-css,
code.idea-css,
code.vs-css,
code.xcode-css {
    background-color: #F9F9F9 !important;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding: 14px;
    color: #000;
    border: 0 none;
    font-size: 14px;
    border-left: 4px solid #EEE;
    background-color: #EEE;
    text-align: left;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #FFF;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #DDD;
}

table div {
    page-break-inside: avoid;
}

th, td {
    text-align: left;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px 14px;
    vertical-align: top;
    text-align: center !important;
    /* border-top: 1px solid #DDD; */
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody + tbody {
    border-top: 1px solid #DDD;
}

table table {
    background-color: #FFF;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid #DDD;
}

table > thead > tr > th,
table > thead > tr > td {
    /* border-bottom-width: 2px; */
    background-color: #F9F9F9;
    text-align: center !important;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 90%;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

img {
    max-width: 100%;
    width: auto;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    color: #111;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    page-break-after: avoid;
}

h1 {
    color: #1781ff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: #1781ff;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #1781ff;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}

h5, h6 {
    font-size: 20px;
    font-weight: bold;
    color: #666;
}

p {
    margin: 0 0 10px;
}

input[type="checkbox"] {
    margin-right: 6px;
    position: relative;
    bottom: 1px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-left: 20px;
}

ul li,
ol li {
    margin-bottom: 2px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #4078C0;
}

.new-page,
.page-break,
.next-page,
.page-end {
    page-break-before: always;
}

.header {
    color: #777;
    vertical-align: middle;
    /* font-size: 12px; */
}

.footer {
    border-top: 1px solid #EEE;
    padding-top: 5px;
    color: #777;
    /* font-size: 80%; */
    text-align: right;
    /* font-size: 12px; */
}

.slidebreak {
    display: block;
    height: 10px;
    width: 100vw;
}

.pagebreak2 {
    display: block;
    height: 50px;
    width: 100vw;
}


.doc-header {
    margin-top: 45vh;
    margin-bottom: 100px;
}

.doc-header-info {
    font-size: 14px;
    color: #333;
}

.doc-header-subtitle {
    color: #1781ff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.doc-header-title {
    color: #1781ff;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

ul.toc {
    list-style-type: none;
    font-size: 14px;
    margin-left: 0px;
    padding-left: 0px;
}

ul.toc > ul {
    margin-left: 5px;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul.toc > li {
    font-weight: bold;
}

ul.toc a {
    color: #000;
}

ul.toc span {
    float: right;
}

img {
    margin: 5px;
    margin-top: 10px;
    border: 1px solid #EEE;
    max-height: 500px;
}

label {
    font-size: 16px;
}

section {
    page-break-inside:avoid;
    page-break-after:auto;
}
section:before {
    height: 0.5cm;
    content: "";
    display: block;
    width: 100vw;
}

h1 + h2 {
    margin-top: -0.5cm;
}
h1 + h3 {
    margin-top: -0.5cm;
}
h2 + h3 {
    margin-top: -0.5cm;
}
